-
  let socials = [
    {
      link: 'https://www.linkedin.com/company/tiquetaque/',
      img: 'https://s3-us-west-2.amazonaws.com/tqtq-public/icon-linkedin.png'
    },
    {
      link: 'https://www.facebook.com/meutiquetaque/',
      img: 'https://s3-us-west-2.amazonaws.com/tqtq-public/facebook.png'
    },
    {
      img: 'https://s3-us-west-2.amazonaws.com/tqtq-public/instagram-rede.png',
      link: 'https://www.instagram.com/tiquetaque'
    }
  ]

doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
    style(type='text/css').
      @import url('https://fonts.googleapis.com/css?family=Montserrat');

      body {
        width: 100%;
      }

      * {
        padding: 0;
        margin: 0;
        vertical-align: baseline;
        list-style: none;
        font-family: 'Montserrat', sans-serif !important;
        border: 0
      }

      .socials {
        margin-top: 120px;
        width: 100%;
        max-width: 120px;
      }

      img:nth-child(2) {
        margin: 0 24px;
      }

      .social-img {
        display: inline-block;
        width: 24px;
        height: 24px;
      }

      tbody {
        background-image: url('https://s3-us-west-2.amazonaws.com/tqtq-public/bg.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      a {
        text-decoration: none;
        color: #595478;
      }

      td {
        font-size: 22px;
        margin: 0 33px;
        color: #212121;
        letter-spacing: -1.3px;
      }

      img {
        display: block;
      }

      .cloud {
        width: 66px;
        height: 58px;
        margin-bottom: 29px;
      }

      .users {
        width: 72px;
        height: 73px;
        margin-bottom: 22px;
      }

      img.logo {
        float: left;
        width: 200px;
        margin-left: 33px;
        margin-top: 22px;
      }

      .trending-down {
        width: 99px;
        height: 86px;
      }

      .award {
        width: 72px;
        height: 64px;
        margin-bottom: 34px;
      }

      button {
        font-size: 14px;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        text-align: center;
        padding: 0 40px;
        height: 50px;
        cursor: pointer;
        color: white;
        box-shadow: 0 4px 10px 0 rgba(160, 171, 77, 0.2);
        transition: opacity .125s ease-in-out;
        border: 0;
        width: auto;
        user-select: none;
      }

  body(style='margin:0; padding: 35px 0;')
    center
      table(width='100%', border='0', cellpadding='0', cellspacing='0', position='relative')
        img.logo(src="https://s3-us-west-2.amazonaws.com/tqtq-public/tqtq-mail-logo.png")
        tbody
          tr
            td(align='center', valign='top')
              p(style='margin-top: 20px')
                | Oi!
                br
                br
                | O TiqueTaque foi indicado para você por
          tr
            td(align='center', style='color: #595478', valign='top')
              | #{name}
          tr
            td(align='center', valign='top', height='100px')
              p(style='margin: 48px 0; max-width: 828px;')
                | O TiqueTaque é uma solução completa e inteligente. Do relógio de ponto aos apps, está tudo conectado para que você acesse todos os registros em tempo real.
              img.tiquetaque(src='https://s3-us-west-2.amazonaws.com/tqtq-public/imageedit_5_7799861438.png' style='margin: 20px 0')
              p(style='max-width: 671px;margin-bottom: 28px;')
                | Hardware e software integrados na nuvem: moderno e conectado.
          tr
            td(align='center', valign='top', height='100px')
              img.cloud(src="https://s3-us-west-2.amazonaws.com/tqtq-public/cloud.png", alt="cloud")
              p(style='margin-bottom: 39px')
                | Informação em tempo real. Em tempo real, mesmo!
          tr
            td(align='center', valign='top', height='100px')
              img.users(src="https://s3-us-west-2.amazonaws.com/tqtq-public/users.png", alt="")
              p(style='margin-bottom: 34px')
                | Transparência para empregador e funcionário.
          tr
            td(align='center', valign='top', height='100px')
              img.trending-down(src="https://s3-us-west-2.amazonaws.com/tqtq-public/trending-down.png", alt="")
              p(style='margin-bottom: 50px')
                | Mais por menos.
          tr
            td(align='center', valign='top', height='100px')
              img.award(src="https://s3-us-west-2.amazonaws.com/tqtq-public/award.png", alt="")
              p(style='max-width: 428px; margin-bottom: 29px')
                | Aderente à Portaria 373 do Ministério do Trabalho.
          tr
            td(align='center', valign='top', height='100px')
              a(href="https://www.tiquetaque.com", target='_blank')
                button(style='background-image: linear-gradient(106deg, #42969b, #6ea077 47%, #a0ab4d) !important; background-color: #42969b;')
                  | Conheça o TiqueTaque
          tr
            td(align='center', valign='top', height='100px')
              | Ficou com dúvida?
              br
              br
              | Você pode responder esse email ou nos contatar no
              a(href="mailto:ola@tiquetaque.com", style='margin: 0 8px;')
                | ola@tiquetaque.com
          tr
            td(align='center', valign='top', height='100px')
              .socials
                for s in socials
                  a(href=s.link, target="_blank", rel="noopener noreferrer")
                    img.social-img(src=s.img)

